<h1><%= @user.name %>'s Profile:</h1>


<div id="userProfile">
   <p><strong>Name:</strong> <%= @user.name%></p>
   <p><strong>Alias:</strong> <%= @user.alias%></p>
   <p><strong>Email:</strong> <%= @user.email%></p>
</div><br><hr>

<div>
  <h3>My Account Information:</h3><hr>

  <ul>
     <li><strong>Total Number of Posts: </strong><%= @posts.all.count %></li>
         <li> <strong>Total Number of Likes: </strong><%= @posts_liked %></li>
  </ul>

</div>

<hr><button type="button" name="profile"><a href="/posts/index/<%= @user.id %>">Back To My Profile</a></button>
