<h1>Welcome, <%= @user.alias %>!!</h1>


<div id="new_post">
   <form action="/posts" method="post">
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

      <label for="post">New Idea:  <textarea name="post[content]" placeholer="Post Something Witty Here..."></textarea></label>
      <input type="submit" value="Create Idea">
  </form>
</div><br><hr>

<div id="posts">
  <h3>Look At All These Ideas:</h3><hr>
  <% if @posts != nil %>
      <% @posts.each do |show| %>
         <p><a href="/users/<%= show.user.id %>"><strong><%= show.user.name%></a> says:</strong> <%= show.content %></p><hr>
         <% if show.users_liked_post.include?(current_user) %>
             <form action='/likes' method='post'>
                <input type='hidden' name='_method' value='delete'>
                <input type='hidden' name='post_id' value='<%= show.id %>'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='submit' name="unlike" value='Unlike'>
             </form>
             <p> <a href="/posts/<%= show.id %>"><%= show.likes.count %></a> People Like This</p>
         <% else %>
             <form action='/likes' method='post'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='post_id' value='<%= show.id %>'>
                <input type='submit' name="like" value='Like Idea'>
             </form><hr>
         <% end %>

         <% if show.user == current_user %>
             <form action="/posts/<%= show.id %>" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input name="_method" value="delete" type="hidden">
                <input type="submit" value="Delete Post">
             </form>
          <% end %>
      <% end %>
   <%end%>
</div><br><br>
